#expContent, #nextButton, #note, #thanks {
	display: none;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    width: 100%;
}

body {
    width: 80%;
    font-family: Helvetica;
    display: table-cell;
    vertical-align: middle;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.Button {
    font-size: inherit;
    border: none;
    color: black;
    background-color: #e7e7e7;
    margin: 3px 6px 3px 36px;
    padding: 10px 20px;
    border-radius: 12px;
    transition: margin .5s, padding .5s;
}

#welButton, #noteButton {
    float: right;
}

#warper {
	text-align: center;
	vertical-align: middle;
}

#welcome, #note, #thanks {
    text-align: center;
    max-width: 40em;
    margin: auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e7e7e7;
    color: black;
}
