<!DOCTYPE html>
<html>
<head>
	<title>04-Experiment</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div id = 'warper'>
		<div id = 'welcome'>
			<h2>How accurately can you read a chart?</h2>
			<hr>
			<p>In this experiment,you are asked to judge:</p>
			<p><b>What is the percent of the smaller value to a larger value in several charts?</b></p>
		    <p>You will be given 6 charts of 10 random numbers.</p>
			<p>Click <b>Let's Start!</b> to proceed.</p>
        	<input type="button" class="Button" id="welButton" value="Let's start!">
		</div>
		<div id = 'note'>
			<p>This is an example: </p>
			<p>In this case, if you feel the smaller one is about 25% of the larger one.</p>
			<p>Then move the slider controller around to 25%.</p>
			<form id='example'>
                The smaller element is
                <input id="slider" type="range" min="0" max="100" step="1">
                <span id="percent-display">50</span>% of the larger element.
            </form>
			<p><b>Notice</b> that the value of radial charts corresponds to its radius, not area.</p>
			<input type = 'button' class="Button" id = 'noteButton' value = 'Got it!'>
		</div>
		<div>
			<form id='nextButton' action="#">
                The smaller element is
                <input id="slider" type="range" min="0" max="100" step="1">
                <span id="percent-display">50</span>% of the larger element.
                <input id="next" class="Button" type="submit" value="Next">
                <span id="done">1 / 6</span>
            </form>
		</div>
		<div id = 'thanks'>
			<h3>Thank you for your participation!</h3>
			<p>This will help us learn more about data visualzation.</p>
		</div>
	</div>
	<script src="../static/jquery-3.1.1.js"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://d3js.org/d3-random.v1.min.js"></script>
	<script src="../static/script.js"></script>
</body>
</html>
